<div>
<table class="table table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th> User name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Admin?</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.FirstName + " " + LastNAme}}</td>
      <td>{{ user.UserName }}</td>
      <td>{{ user.Phone }}</td>
      <td>{{ user.Email }}</td>
      <td>{{ user.IsAdmin ? "Yes" : "No" }}</td>
        <td><a routerLink="/users/detail/{{user.ID}}">Detail</a></td>
        <td><a routerLink="/users/edit/{{user.ID}}">Edit</a></td>
    </tr>
  </tbody>
</table>
</div>
